.contain-to-grid{
   background: #212c59;
 }
.top-bar {
  #main-menu {
     background: #212c59;
    .menu-icon {
      padding-right: 15px;
    }

    @media #{$large-up} {
      display: table;
      width: 100%;

      & > li {
        display: table-cell;
        float: none;
        text-align: center;

        .menu-icon {
          padding-top: 8px;
          padding-bottom: 8px;
        }

        a.active {
        //  background-color: $topbar-link-bg-hover;
        background: #212c59;
        }
      }
    }
    li > a {
       background: #212c59;
    }
  }
}
