// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_init.scss" file. You may not need to write any code.

// Headings
// - - - - - - - - - - - - - - - - - - - - - - - - -

h1.page__title--location {
  font-size: $crumb-font-size;
  text-align: right;
}
.field-name-title h2 { font-size: $h1-font-size; }
