// Social Media View
.view-social-media {
  &__list {
    li {
      display: inline-block;
      list-style: none;
    }
  }

  // Header Display
  &.view-display-id-header_social {
    display: none;
    text-align: right;
    @media #{$medium-up} { display: block; }
    .view-social-media__list {
      margin-top: 8px;
      margin-bottom: 0;
    }
  }

  // Footer Display
  &.view-display-id-footer_social {
    text-align: center;
    .view-social-media__list { margin-left: 0; }
  }

}
