.l-header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #212c59;
  &__contact-details { @include grid-column(6); }
  &__inner { @include grid-row(); }
  &__logo { @include grid-column(6); }
}
